.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #222;
}
.navbar img{
  margin-left: 2em;
  padding: .5em;
}
.list{
  display: flex;
  list-style: none;
  align-items: center;
}

.item{
  margin-right: 1em;

}

.item a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.item a:hover{
  color: #ffbb33;
}
